# DOM rev2 CPLD's Dom_Cpld_rev2_Test_02.ucf file
#PINLOCK_BEGIN
#Fri Feb 21 16:18:12 2003
#Fri April 11 2003 change the driver strength of flash_noe, flash_nwe to FAST
NET "base_miso" LOC = "S:PIN2";
NET "conf_done" LOC = "S:PIN3";
NET "ex_cts" LOC = "S:PIN32";
NET "ex_dsr" LOC = "S:PIN31";
NET "ex_dtr" LOC = "S:PIN97";
NET "eb_clk" LOC = "S:PIN38";
NET "eb_ncs<0>" LOC = "S:PIN52";
NET "eb_ncs<1>" LOC = "S:PIN51";
NET "eb_ncs<2>" LOC = "S:PIN50";
NET "eb_ncs<3>" LOC = "S:PIN49";
NET "eb_noe" LOC = "S:PIN46";
NET "eb_nwe" LOC = "S:PIN48";
NET "eba<0>" LOC = "S:PIN40";
NET "eba<1>" LOC = "S:PIN41";
NET "eba<2>" LOC = "S:PIN42";
NET "eba<3>" LOC = "S:PIN43";
NET "eba<4>" LOC = "S:PIN44";
NET "eba<5>" LOC = "S:PIN45";
NET "init_done" LOC = "S:PIN28";
NET "npor" LOC = "S:PIN17";
NET "nreset" LOC = "S:PIN33";
NET "nstatus" LOC = "S:PIN34";
NET "pld_clk" LOC = "S:PIN30";
#NET "pld_mode" LOC = "S:PIN9";
NET "ex_rts" LOC = "S:PIN96";
NET "ex_rxd" LOC = "S:PIN102";
NET "sc_miso" LOC = "S:PIN10";
NET "serial_power" LOC = "S:PIN101";
NET "soft_reset" LOC = "S:PIN16";
NET "txd_local" LOC = "S:PIN115";
NET "aux_clt" LOC = "S:PIN114";
NET "barometer_enable" LOC = "S:PIN143";
NET "base_mosi" LOC = "S:PIN103";
NET "base_ncs0" LOC = "S:PIN104";
NET "base_ncs1" LOC = "S:PIN105";
NET "base_on_off" LOC = "S:PIN106";
NET "base_sclk" LOC = "S:PIN107";
NET "boot_flash" LOC = "S:PIN53";
NET "cts_local" LOC = "S:PIN121";
NET "dsr_local" LOC = "S:PIN5";
NET "dtr_local" LOC = "S:PIN100";
NET "ebd<0>" LOC = "S:PIN19";
NET "ebd<1>" LOC = "S:PIN20";
NET "ebd<2>" LOC = "S:PIN21";
NET "ebd<3>" LOC = "S:PIN22";
NET "ebd<4>" LOC = "S:PIN23";
NET "ebd<5>" LOC = "S:PIN24";
NET "ebd<6>" LOC = "S:PIN25";
NET "ebd<7>" LOC = "S:PIN26";
NET "fl_a<0>" LOC = "S:PIN130";
NET "fl_a<1>" LOC = "S:PIN129";
NET "fl_a<2>" LOC = "S:PIN128";
NET "fl_a<3>" LOC = "S:PIN126";
NET "fl_a<4>" LOC = "S:PIN125";
NET "fl_a<5>" LOC = "S:PIN124";
NET "fl_d<0>" LOC = "S:PIN139";
NET "fl_d<1>" LOC = "S:PIN138";
NET "fl_d<2>" LOC = "S:PIN137";
NET "fl_d<3>" LOC = "S:PIN136";
NET "fl_d<4>" LOC = "S:PIN135";
NET "fl_d<5>" LOC = "S:PIN134";
NET "fl_d<6>" LOC = "S:PIN133";
NET "fl_d<7>" LOC = "S:PIN132";
NET "fl_noe" LOC = "S:PIN120";
NET "fl_nwe" LOC = "S:PIN119";
NET "fl_on_off" LOC = "S:PIN118";
NET "fl_undefined" LOC = "S:PIN117";
NET "flash_ncs0" LOC = "S:PIN76";
NET "flash_ncs1" LOC = "S:PIN77";
NET "flash_noe" LOC = "S:PIN78";
NET "flash_nwe" LOC = "S:PIN79";
NET "flash_nwp" LOC = "S:PIN80";
NET "fpga_pld_busy" LOC = "S:PIN59";
NET "fpga_pld_noe" LOC = "S:PIN58";
NET "fpga_pld_nwe" LOC = "S:PIN57";
NET "int_ext_pin_n" LOC = "S:PIN56";
NET "mux_en0" LOC = "S:PIN7";
NET "mux_en1" LOC = "S:PIN12";
NET "nconfig" LOC = "S:PIN54";
NET "pld_tp" LOC = "S:PIN13";
NET "fpga_pld_d<0>" LOC = "S:PIN60";
NET "fpga_pld_d<1>" LOC = "S:PIN61";
NET "fpga_pld_d<2>" LOC = "S:PIN64";
NET "fpga_pld_d<3>" LOC = "S:PIN66";
NET "fpga_pld_d<4>" LOC = "S:PIN68";
NET "fpga_pld_d<5>" LOC = "S:PIN69";
NET "fpga_pld_d<6>" LOC = "S:PIN70";
NET "fpga_pld_d<7>" LOC = "S:PIN71";
NET "rts_local" LOC = "S:PIN98";
NET "rxd_local" LOC = "S:PIN111";
NET "sc_cl" LOC = "S:PIN131";
NET "sc_mosi" LOC = "S:PIN142";
NET "sc_ncs0" LOC = "S:PIN35";
NET "sc_ncs1" LOC = "S:PIN11";
NET "sc_ncs2" LOC = "S:PIN4";
NET "sc_ncs3" LOC = "S:PIN112";
NET "sc_ncs4" LOC = "S:PIN39";
NET "sc_ncs5" LOC = "S:PIN113";
NET "sc_ncs6" LOC = "S:PIN6";
NET "sc_ncs7" LOC = "S:PIN110";
NET "sc_sclk" LOC = "S:PIN14";
NET "sel_a0" LOC = "S:PIN140";
NET "sel_a1" LOC = "S:PIN15";
NET "ex_txd" LOC = "S:PIN18";
NET "eb_npor" LOC = "S:PIN95";
#PINLOCK_END
NET "flash_noe" FAST;
NET "flash_nwe" FAST;
