#PINLOCK file name EBI_Interace2.ucf
#PINLOCK_BEGIN
#Wed Feb-23-2003
# Add "pld_tp" LOC = "P103";
# lock "base_dout" LOC = "P134"
#PINLOCK_END

NET "pld_tp" LOC = "P4";
NET "ps_up" LOC = "P7";
NET "ps_down" LOC = "P9";
NET "ps_enable" LOC = "P10";
NET "adc_flasher_ncs" LOC = "P11";
NET "barometer_enable" LOC = "P12";
NET "flash_ncs0" LOC = "P13";
NET "flash_ncs1" LOC = "P14";
NET "sel_a0" LOC = "P15";
NET "sel_a1" LOC = "P16";
NET "mux_en1" LOC = "P17";
NET "mux_en0" LOC = "P19";
NET "cpu_clk" LOC = "P30";
NET "ebi_noe" LOC = "P32";
NET "ebi_clk" LOC = "P38";
NET "pld_com_dac_d<6>" LOC = "P45";
NET "pld_com_dac_d<7>" LOC = "P49";
NET "pld_com_dac_d<8>" LOC = "P50";
NET "pld_com_dac_d<9>" LOC = "P51";
NET "pld_com_dac_d<10>" LOC = "P52";
NET "pld_com_dac_d<11>" LOC = "P53";
NET "pld_com_dac_d<12>" LOC = "P54";
NET "pld_com_dac_d<13>" LOC = "P56";
NET "boot_flash" LOC = "P57";
NET "npor" LOC = "P58";
NET "txd" LOC = "P59";
NET "rxd" LOC = "P60";
NET "ebi_ncs<3>" LOC = "P61";
NET "ebi_ncs<2>" LOC = "P64";
NET "ebi_ncs<1>" LOC = "P68";
NET "ebi_ncs<0>" LOC = "P69";
NET "ebi_nwe" LOC = "P70";
NET "ebi_a<0>" LOC = "P71";
NET "ebi_a<1>" LOC = "P74";
NET "ebi_a<3>" LOC = "P76";
NET "ebi_a<2>" LOC = "P77";
NET "ebi_data<0>" LOC = "P78";
NET "ebi_data<1>" LOC = "P79";
NET "ebi_data<2>" LOC = "P80";
# NET ebi_data<3> LOC=P81;
# NET ebi_data<4> LOC=P82;
NET "ebi_data<5>" LOC = "P83";
NET "ebi_data<6>" LOC = "P85";
NET "ebi_data<7>" LOC = "P86";
# NET flash_ncs1 LOC=P87;
# NET flash_ncs0 LOC=P88;
NET "flash_noe" LOC = "P91";
NET "flash_nwe" LOC = "P92";
NET "flash_reset" LOC = "P94";
NET "flash_nwp" LOC = "P95";
NET "nconfig" LOC = "P96";
NET "init_done" LOC = "P97";
NET "nreset" LOC = "P98";
NET "pll_s0" LOC = "P100";
NET "pll_s1" LOC = "P101";
NET "serial_power" LOC = "P102";
#NET "dsr" LOC = "P103";
NET "rxd_local" LOC = "P104";
NET "int_ext_pin_n" LOC = "P105";
NET "clk_24" LOC = "P110";
NET "clk_13" LOC = "P111";
NET "aux_clt" LOC = "P112";
NET "dac_sclk" LOC = "P113";
NET "dac_din" LOC = "P115";
NET "dac_ncs0" LOC = "P116";
NET "dac_ncs1" LOC = "P117";
NET "dac_ncs2" LOC = "P118";
NET "dac_ncs3" LOC = "P120";
NET "dac_ncs4" LOC = "P121";
NET "dac_cl" LOC = "P124";
NET "mux_ncs0" LOC = "P125";
NET "adc_ncs1" LOC = "P126";
NET "adc_ncs0" LOC = "P128";
NET "adc_dout" LOC = "P130";
NET "base_on_off" LOC = "P131";
NET "base_ncs1" LOC = "P132";
NET "base_ncs0" LOC = "P133";
NET "base_dout" LOC = "P134";
NET "ebi_data<3>" LOC = "P136";
NET "temp_sensor_io" LOC = "P138";
NET "temp_sensor_clk" LOC = "P140";
NET "ebi_data<4>" LOC = "P143";


