#NET ps_up LOC=P7;
#NET ps_down LOC=P9;
#NET ps_enable LOC=P10;
#NET adc_flasher_ncs LOC=P11;
#NET barometer_enable LOC=P12;
#NET sel_a0 LOC=P15;
#NET sel_a1 LOC=P16;
#NET mux_en1 LOC=P17;
#NET mux_en0 LOC=P19;
#NET ebi_noe LOC=P32;
#NET ebi_clk LOC=P38;
#NET ebi_a<0> LOC=P44;
#NET boot_flash LOC=P57;
#NET npor LOC=P58;
#NET txd LOC=P59;
#NET rxd LOC=P60;
#NET ebi_ncs<3> LOC=P61;
#NET ebi_ncs<2> LOC=P64;
#NET ebi_ncs<1> LOC=P68;
#NET ebi_ncs<0> LOC=P69;
#NET ebi_nwe LOC=P70;
#NET ebi_a<1> LOC=P74;
#NET ebi_a<3> LOC=P76;
#NET ebi_a<2> LOC=P77;
#NET ebi_data<0> LOC=P78;
#NET ebi_data<1> LOC=P79;
#NET ebi_data<2> LOC=P80;
# NET ebi_data<3> LOC=P81;
# NET ebi_data<4> LOC=P82;
#NET ebi_data<5> LOC=P83;
#NET ebi_data<6> LOC=P85;
#NET ebi_data<7> LOC=P86;
# NET flash_ncs1 LOC=P87;
# NET flash_ncs0 LOC=P88;
#NET flash_noe LOC=P91;
#NET flash_nwe LOC=P92;
#NET nconfig LOC=P96;
#NET init_done LOC=P97;
#NET pll_s0 LOC=P100;
#NET pll_s1 LOC=P101;
#NET serial_power LOC=P102;
#NET rxd_local LOC=P104;
#NET aux_clt LOC=P112;
#NET dac_sclk LOC=P113;
#NET dac_din LOC=P115;
#NET dac_ncs0 LOC=P116;
#NET dac_ncs1 LOC=P117;
#NET dac_ncs2 LOC=P118;
#NET dac_ncs3 LOC=P120;
#NET dac_ncs4 LOC=P121;
#NET dac_cl LOC=P124;
#NET mux_ncs0 LOC=P125;
#NET adc_ncs1 LOC=P126;
#NET adc_ncs0 LOC=P128;
#NET adc_dout LOC=P130;
#NET base_on_off LOC=P131;
#NET base_ncs1 LOC=P132;
#NET base_ncs0 LOC=P133;
#NET temp_sensor_io LOC=P138;
#NET temp_sensor_clk LOC=P140;

#PINLOCK_BEGIN

#Tue Jan 28 19:04:43 2003

NET "ebi_a<0>"       LOC =  "S:PIN44";
NET "ebi_a<1>"       LOC =  "S:PIN74";
NET "ebi_a<2>"       LOC =  "S:PIN77";
NET "ebi_a<3>"       LOC =  "S:PIN76";
NET "ebi_clk"        LOC =  "S:PIN38";
NET "ebi_ncs<0>"     LOC =  "S:PIN69";
NET "ebi_ncs<1>"     LOC =  "S:PIN68";
NET "ebi_ncs<2>"     LOC =  "S:PIN64";
NET "ebi_ncs<3>"     LOC =  "S:PIN61";
NET "ebi_noe"        LOC =  "S:PIN32";
NET "ebi_nwe"        LOC =  "S:PIN70";
NET "init_done"      LOC =  "S:PIN97";
NET "npor"           LOC =  "S:PIN58";
NET "rxd_local"      LOC =  "S:PIN104";
NET "serial_power"   LOC =  "S:PIN102";
NET "txd"            LOC =  "S:PIN59";
NET "adc_dout"       LOC =  "S:PIN130";
NET "adc_flasher_ncs"  LOC =  "S:PIN11";
NET "adc_ncs0"       LOC =  "S:PIN128";
NET "adc_ncs1"       LOC =  "S:PIN126";
NET "aux_clt"        LOC =  "S:PIN112";
NET "barometer_enable"  LOC =  "S:PIN12";
NET "base_ncs0"      LOC =  "S:PIN133";
NET "base_ncs1"      LOC =  "S:PIN132";
NET "base_on_off"    LOC =  "S:PIN131";
NET "boot_flash"     LOC =  "S:PIN57";
NET "dac_cl"         LOC =  "S:PIN124";
NET "dac_din"        LOC =  "S:PIN115";
NET "dac_ncs0"       LOC =  "S:PIN116";
NET "dac_ncs1"       LOC =  "S:PIN117";
NET "dac_ncs2"       LOC =  "S:PIN118";
NET "dac_ncs3"       LOC =  "S:PIN120";
NET "dac_ncs4"       LOC =  "S:PIN121";
NET "dac_sclk"       LOC =  "S:PIN113";
NET "ebi_data<0>"    LOC =  "S:PIN78";
NET "ebi_data<1>"    LOC =  "S:PIN79";
NET "ebi_data<2>"    LOC =  "S:PIN80";
NET "ebi_data<3>"    LOC =  "S:PIN136";
NET "ebi_data<4>"    LOC =  "S:PIN143";
NET "ebi_data<5>"    LOC =  "S:PIN83";
NET "ebi_data<6>"    LOC =  "S:PIN85";
NET "ebi_data<7>"    LOC =  "S:PIN86";
NET "flash_ncs0"     LOC =  "S:PIN13";
NET "flash_ncs1"     LOC =  "S:PIN14";
NET "flash_noe"      LOC =  "S:PIN91";
NET "flash_nwe"      LOC =  "S:PIN92";
NET "mux_en0"        LOC =  "S:PIN19";
NET "mux_en1"        LOC =  "S:PIN17";
NET "mux_ncs0"       LOC =  "S:PIN125";
NET "nconfig"        LOC =  "S:PIN96";
NET "pll_s0"         LOC =  "S:PIN100";
NET "pll_s1"         LOC =  "S:PIN101";
NET "ps_down"        LOC =  "S:PIN9";
NET "ps_enable"      LOC =  "S:PIN10";
NET "ps_up"          LOC =  "S:PIN7";
NET "rxd"            LOC =  "S:PIN60";
NET "sel_a0"         LOC =  "S:PIN15";
NET "sel_a1"         LOC =  "S:PIN16";
NET "temp_sensor_clk"  LOC =  "S:PIN140";
NET "temp_sensor_io"  LOC =  "S:PIN138";
#PINLOCK_END
